{
  "openapi": "3.0.1",
  "info": {
    "title": "Nowadays API",
    "description": "API documentation for managing events and venue proposals in the Nowadays system",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://getnowadays.com/api/northstar"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/events": {
      "post": {
        "summary": "Create Event",
        "description": "Creates a new event in the Nowadays system",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event_id": {
                      "type": "string",
                      "description": "Unique identifier for the created event"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}/venues": {
      "get": {
        "summary": "List Venue Options",
        "description": "Returns all available venues for a specific event",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of venues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VenueOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}/quotes": {
      "get": {
        "summary": "Get Venue Quotes",
        "description": "Returns quotes for all venues associated with an event",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of venue quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VenueQuote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/venues/request-proposal": {
      "post": {
        "summary": "Request Venue Proposal",
        "description": "Request a proposal from a specific venue for an event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proposal request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "venue_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}": {
      "put": {
        "summary": "Update Event",
        "description": "Update an existing event's details",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete Event",
        "description": "Delete an existing event",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Event deleted successfully"
          }
        }
      }
    },
    "/events/{eventId}/venues/{venueId}/feedback": {
      "post": {
        "summary": "Update Venue Feedback",
        "description": "Add or update feedback for a specific venue within an event",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VenueFeedback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback updated successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EventRequest": {
        "type": "object",
        "required": [
          "name",
          "venue_type",
          "event_type",
          "start_date",
          "end_date",
          "location",
          "budget",
          "num_people",
          "num_hotel_rooms_needed",
          "decision_deadline",
          "email",
          "first_name",
          "last_name",
          "company"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the event"
          },
          "venue_type": {
            "type": "string",
            "description": "Type of venue required"
          },
          "event_type": {
            "type": "string",
            "description": "Type/category of the event"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Start date and time in UTC"
          }
        }
      },
      "VenueOption": {
        "type": "object",
        "properties": {
          "venue_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "VenueQuote": {
        "type": "object",
        "properties": {
          "venue_id": {
            "type": "string"
          },
          "venue_name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "quote_total": {
            "type": "number"
          }
        }
      },
      "ProposalRequest": {
        "type": "object",
        "required": ["event_id"],
        "properties": {
          "venue_id": {
            "type": "string"
          },
          "venue_name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "event_id": {
            "type": "number"
          }
        }
      },
      "VenueFeedback": {
        "type": "object",
        "properties": {
          "liked": {
            "type": "boolean",
            "description": "Whether the venue is liked or not"
          },
          "comment": {
            "type": "string",
            "description": "Feedback comment about the venue"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}